[Unit]
Description=Process Monitoring Service
After=network.target
Wants=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/monitoring.sh

[Install]
WantedBy=multi-user.target
